@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;

.login-gate {
  &__button {
    margin-top: $spacing-05;
    min-width: 256px !important;

    @include breakpoint-up(lg) {
      min-width: 320px !important;
    }
  }
}
